* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontFamily);
}
:root {
  --highlight-color: #61dbfb;
  --contrast-dark: #282c34;
  --contrast-darker: #232730;
  --fontFamily: 'Poppins', sans-serif;
}

.QuestionsApp {
  text-align: center;
  height: 90vh;
  background-color: var(--contrast-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
}
.Navbar {
  background-color: var(--contrast-darker);
  padding: 0px 30px;
  height: 10vh;
  border-bottom: 1px solid #888;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav a {
  color: var(--highlight-color);
  text-decoration: none;
}
.logo {
  font-size: 1.5rem;
  color: var(--highlight-color);
}
.QuestionCard {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.Question {
  color: var(--highlight-color);
}

.CtaBtn {
  padding: 10px 15px;
  background-color: var(--highlight-color);
  color: var(--contrast-dark);
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  border: none;
}
.CtaContainer {
  display: flex;
  width: 500px;
  justify-content: space-around;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
